/* LORA SERIF */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* POPPINS SANS SERIF */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* colours */
    --green: #004225;
    --white: #F5F5DC;
    --orange: #FFB000;
    --cream: #FFCF9D;
    --light-orange: #e6ae37;
}

*{
    padding: 0;
    margin: 0;
}

/* Navigation */
.navigation{
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 100;
}

.navigation nav{
    display: flex;
    width: 100%;
}

.navigation nav .logo{
    margin-left: 4rem;
    padding-top: 3rem;
}

.navigation nav .logo a{
    text-decoration: none;
}

.navigation nav .logo p{
    font-family: 'Poppins', sanserif;
    font-size: 3rem;
    font-weight: 500;
    color: var(--orange);
}

.navigation nav .links{
    display: flex;
    margin: auto;
    margin-right: 4rem;   
    padding-top: 3rem;
}

.navigation nav .links ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navigation nav .links ul li a{
    text-decoration: none;
    color: var(--green);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.navigation nav .links ul li a:hover{
    color: var(--white);
    transition: all ease .4s;
}

.navigation .navbar-mobile {
    background-color: var(--green);
    display: none;
    
    padding: 10px 20px;
    margin-bottom: 1rem;
}

.navbar-mobile .mobile-logo a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: var(--orange);
    font-size: 2rem;
}

/* Style the menu items */
.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu a:hover{
    color: var(--green);
    transition: all ease .4s;
}

.sub-menu{
    list-style: none;
    display: flex;
}

.sub-menu li{
    margin-right: 20px;
}

.sub-menu a{
    color: var(--white);
    text-decoration: none;
}

.sub-menu a:hover{
    color: var(--light-orange);
    transition: all ease .4s;
}
/* Style the menu toggle button */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
    margin-right: 1rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--orange);
    margin: 3px 0;
    transition: 0.4s;
}

.bar:nth-child(2){
    width: 20px;
}

/* Navigation end */

/* Hero */
.hero{
    height: 80vh;
    background: var(--orange);
}

.hero .intro{
    position: absolute;
    top: 0;
    height: 90vh;
    width: 70%;
    background-color: var(--green);
    z-index: 1;
}

.hero .intro .text{
    position: absolute;
    top: 40%;
    margin-left: 2rem;
    width: 80%;
    color: var(--orange);
    font-family: 'Lora', serif;
    font-size: 2.7rem;
}

.hero .intro .text h1{
    text-align: left;
    text-transform: capitalize;
}

.hero .intro .action{
    position: absolute;
    bottom: 0;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

.hero .intro .action a{
    text-decoration: none;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    background: var(--light-orange);
    padding: 12px 14px;
    border-radius: 5px;
}

.hero .intro .action a:hover{
    background-color: var(--orange);
    transition: ease all .5s
}

.hero .photo{
    position: absolute;
    width: 40%;
    height: 50%;
    left: 57.5%;
    bottom: 0;
    z-index: 2;
    border: var(--cream) 1rem solid;
    overflow: hidden;
}

.hero .photo img{
    width: 100%;
    object-fit: cover;
}

.hero .photo img:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}
/* Hero end */

@media screen and (max-width: 768px){
    .navigation .navbar-desktop{
        display: none;
    }

    .navigation .navbar-mobile{
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 999;
        
    }

    .navbar-mobile .mobile-logo img{
        height: 60px;
        width: auto;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--orange);
        z-index: 1;
    }

    .menu.active {
        display: flex;
        
        transition: all ease .4s;
    }

    .menu li {
        margin: 10px 20px;
    }

    .menu-toggle {
        display: flex;
        margin-left: auto;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: var(--cream);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .menu .sub-menu{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        border-top: 2px solid var(--green);
    }

    .hero{
        height: 100vh;
        background: var(--orange);
    }

    .hero .intro .text{
        top: 32%;
        margin-left: 1rem;
        width: 80%;
        font-size: 1.3rem;
    }

    .hero .intro .action{
        margin-left: 2rem;
    }

    .hero .intro .action a{
        font-size: 1.5rem;
        padding: 12px 14px;
    }

    .hero .photo{
        position: absolute;
        width: 40%;
        height: 35%;
        left: 57.5%;
        bottom: 0;
        z-index: 2;
        border: var(--cream) 1rem solid;
        overflow: hidden;
    }
}