body{
    background-image: url(../assets/pic2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    font-family: 'Poppins',sans-serif;
    width: 40%;
    background-color: rgba(127, 208, 255, 0.404);
    height: 100vh;
    position: absolute;
    right: 0;
    margin: auto;
    margin-right: 0;
    border-left: solid 2px rgba(127, 255, 144, 0.404);
    border-radius: 4rem 0 0 0;
}

.header{
    padding-top: 4rem;
    margin-left: 4rem;
    font-size: 3rem;
    font-weight: 500;
}

.inputs{
    margin-top: 4rem;
    margin-left: 4rem;
}

.names{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.names input[type=text]{
    padding: 10px 8px;
    width: 60%;
    border-radius: 1rem;
    background: rgba(127, 208, 255, 0.404);
    color: #000;
}

.names input[type=email]{
    padding: 10px 8px;
    width: 60%;
    border-radius: 1rem;
    background: rgba(127, 208, 255, 0.404);
    color: #000;
}

.gender{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.gender input[type=radio]{
    color: rgba(127, 208, 255, 0.404);
}

.bike_category{
    margin-top: 2rem;
}

.bike_category select{
    padding: 4px 6px;
    margin-left: 1rem;
    border-radius: 2rem;
    background: rgba(127, 208, 255, 0.404);
}

.bike_category select:hover{
    cursor: pointer;
    background-color: rgba(127, 208, 255, 0.804);
    transition: all ease .4s;
}

.terms{
    margin-top: 1rem;
}

.terms a{
    text-decoration: none;
    color: green;
}

.btn{
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 8px 10px;
    width: 8rem;
    background-color: rgba(0, 128, 0, 0.63);
    color: #fff;
    border-radius: 2rem;
}